/* General/Global settings */

:root {
  --primary-c: #c72727;
  --secondary-c: #f99500;
  --lighter-c: #f3f3f3;
  --darker-c: #333;
  --max-width: 110rem;
  --entertaiment-c: #a66bbe;
  --technology-c: #009cff;
  --whiteish-c: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background-color: var(--lighter-c);
}

a {
  color: var(--darker-c);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

p {
  margin: 0.5rem 0;
}

/* Reutilisable */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: var(--whiteish-c);
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.category-sports {
  background: var(--secondary-c);
}

.category-entertaiment {
  background: var(--entertaiment-c);
}

.category-tech {
  background: var(--technology-c);
}

.btn {
  display: inline-block;
  border: none;
  background: var(--darker-c);
  color: var(--whiteish-c);
  padding: 0.5rem 1.5rem;
}

.btn-lighter {
  background: var(--lighter-c);
}

.btn-primary {
  background: var(--primary-c);
}

.btn-secondary {
  background: var(--secondary-c);
}
.btn:hover {
  opacity: 0.9;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease;
}

.card {
  background: var(--whiteish-c);
  padding: 1rem;
}

.darker-bg {
  background: var(--darker-c);
  color: var(--whiteish-c);
}

.primary-bg {
  background: var(--primary-c);
  color: var(--whiteish-c);
}

.secondary-bg {
  background: var(--secondary-c);
  color: var(--whiteish-c);
}

.padding-1 {
  padding: 1.5rem 0;
}

.padding-2 {
  padding: 2rem 0;
}

.padding-3 {
  padding: 3rem 0;
}

.darker-bg h1,
.darker-bg h2,
.darker-bg h3,
.darker-bg a,
.primary-bg h1,
.primary-bg h2,
.primary-bg h3,
.primary-bg a,
.secondary-bg h1,
.secondary-bg h2,
.secondary-bg h3,
.secondary-bg a {
  color: var(--whiteish-c);
}

/* Navigation Bar */

.main-nav {
  background: var(--whiteish-c);
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

.logo {
  width: 18rem;
  padding-left: 2rem;
}

.utility-bar {
  justify-self: end;
  display: flex;
}

.utility-bar a {
  transition: all 0.3s ease;
  padding: 0.75rem;
  font-weight: bold;
  border-radius: 15px;
}

.utility-bar a.current {
  background: var(--primary-c);
  color: var(--whiteish-c);
}

.utility-bar a:hover {
  background: rgb(133, 129, 129);
  /* color: var(--darker-c); */
}

.social {
  justify-self: center;
}

.social i {
  color: #777;
  margin-right: 0.8rem;
}

/* Hero Section */

.hero {
  color: var(--whiteish-c);
  background: var(--darker-c);
  padding: 2rem;
  position: relative;
}

.hero::before {
  content: "";
  background-image: url(/images/featured.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.hero-content {
  z-index: 1;
}

.hero-content p {
  margin-bottom: 1rem;
}

/* Content And Articles Section */

.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.card-span {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  grid-column: 1 / span 2;
}

.card-span-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2 / span 2;
  align-items: center;
}

/* Footer Section */

.main-footer {
  background: var(--darker-c);
  color: var(--whiteish-c);
}

.main-footer a {
  color: var(--whiteish-c);
}

.footer-logo {
  width: 15rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer-container input[type="submit"] {
  width: 90%;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 solid 1px;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-c);
}

.copyright {
  background: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  margin: 1rem 0 0 0;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
}

.padding-footer {
  padding: 2rem 0 0 0;
}

/* Creating About Page */

.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 1.5rem;
  margin: 2rem 0;
}

.page-container > *:first-child {
  grid-row: 1 / span 3;
}

.btn-h:hover {
  background: var(--whiteish-c);
  color: var(--darker-c);
  font-weight: bold;
  border-radius: 30px;
}

.fa-youtube:hover {
  color: #ff0000;
  transition: all 0.3s ease;
}
.fa-facebook:hover {
  color: #3b5998;
  transition: all 0.3s ease;
}
.fa-twitter:hover {
  color: #1da1f2;
  transition: all 0.3s ease;
}

.fa-instagram:hover {
  color: #c13584;
  transition: all 0.3s ease;
}

.large-heading {
  font-size: 3rem;
}

/* Article Page */

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}

.category {
  margin-top: 0.4rem;
}

.fa-user {
  padding-right: 0.5rem;
}

.fa-chevron-right {
  padding-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .social {
    display: none;
  }
  .main-nav .container {
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
  }

  .main-nav ul,
  .main-nav .logo {
    justify-self: center;
  }
  .main-nav ul li a {
    padding: 0.5rem;
  }
  .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-articles .articles-container > *:first-child,
  .home-articles .articles-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
}

@media screen and (max-width: 600px) {
  .hero .hero-container,
  .home-articles .articles-container,
  .main-footer .footer-container {
    grid-template-columns: 1fr;
  }
  .page-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .page-container > *:first-child {
    grid-row: 1;
  }
  .large-heading {
    font-size: 2rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .home-articles .articles-container > *:last-child {
    grid-column: 1 / span 2;
  }
}
